/* Profile */

section {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: #fff;
    margin-top: 0px;
    font-size: 17px;
    padding: 15px 5%;
  }
   .nav{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
  position: relative;
  
  }
  
  .profile {
    margin-right: 10px;
    background-color: transparent;
    border-radius: 5px;
    padding: 15px;
    min-height: 100vh;
  }
  
  .profile-header {
    display: flex;
    margin-left: 20px;
  }
  
  .profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
  }
  
  .profile-text-container {
    line-height: 0.5;
  }
  
  .profile-title {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }
  
  .profile-email {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  
  .btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background: rgba(0, 0, 0, 0);
    color: #4e5155;
  }
  
  .btn-primary {
    background-color: var(--ucs-color);
  }
  
  label.btn {
    margin-bottom: 0;
  }
  
  .btn-outline-primary {
    border-color: var(--ucs-color);
    color: #fff;
    background-color: var(--ucs-color);
  }
  
  .btn-outline-primary:hover {
    border-color: var(--ucs-color);
    background: transparent;
    color: var(--ucs-color);
  }
  
  
  .btn {
    cursor: pointer;
    font-size: 15px;
  }
  
  .text-light {
    color: #babbbc !important;
  }
  
  .card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
    flex-grow: 1;
    width: 100%;
    height: auto;
  }
  
  .row-bordered {
    overflow: hidden;
    min-height: 100vh;
  }
  
  .account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  
  .account-settings-links .list-group-item.active {
    font-weight: bold !important;
  }
  
  html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: var(--ucs-color) !important;
  }
  
  .account-settings-multiselect ~ .select2-container {
    width: 100% !important;
  }
  
  .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  
  .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
  }
  
  .material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  
  .material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
  }
  
  .dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
  }
  
  .dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
  }
  
  .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
  }
  
  .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  
  .form-control {
    width: 100%;
    height: 5vh;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .account-settings-links button:focus {
    outline: none;
    background-color: var(--ucs-color);
    font-weight: bold;
  }
  
  /* card color */
  
  .swiper-wrapper .slide:nth-of-type(7) {
    background: rgb(155, 149, 241);
  }
  
  .swiper-wrapper .slide:nth-of-type(8) {
    background: rgb(241, 149, 149);
  } */

  .swiper-wrapper .slide {
    background: aliceblue; 
  }
  
  /* Popular */
  
  .popular .popular-slider .box {
    width: 15vw;
    flex-basis: 22%;
    margin-bottom: 2%;
    margin-right: 2%;
    position: relative;
    overflow: hidden;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 5px;
    flex: 1 1 23vw;
    gap: 2rem;
    justify-content: space-between;
  }
  
  .popular .popular-slider .box:hover {
    border: 0.1rem solid var(--ucs-color);
  }
  
  .popular .popular-slider .box .image {
    padding: 10px;
    background: rgb(200, 227, 238);
  }
  
  .popular .popular-slider .box:hover .image {
    transform: translateY(40px);
  }
  
  .popular .popular-slider .box .image img {
    height: 150px;
  }
  
  .popular .popular-slider .box .icons {
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
    background: rgb(166, 185, 190);
  }
  
  .popular .popular-slider .box:hover .icons {
    transform: translateY(0%);
  }
  
  .popular .popular-slider .box .icons a {
    color: var(--black);
    font-size: 22px;
    padding: 13px 15px;
  }
  
  .popular .popular-slider .box .icons a:hover {
    background: var(--ucs-color);
    color: #fff;
  }
  
  .popular .popular-slider .box .content {
    background: rgb(200, 227, 238);
    padding: 15px;
  }
  
  .popular .popular-slider .box .content h3 {
    width: 100%;
    height: 10px;
    font-size: 12px;
    color: var(--black);
  }
  
  .popular .popular-slider .box .content .by {
    font-size: 15px;
    color: var(--black);
    padding-top: 10px;
  }
  
  .popular .popular-slider .box .content .price span {
    font-size: 12px;
    color: var(--light-color);
  }
  
   .nav{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
  position: relative;
  
  }
  .profile {
    margin-right: 10px;
    background-color: transparent;
    border-radius: 5px;
    padding: 15px;
    min-height: 100vh;
  }
  
  .profile-header {
    display: flex;
    margin-left: 20px;
  }
  
  .profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
  }
  
  .profile-text-container {
    line-height: 0.5;
  }
  
  .profile-title {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }
  
  .profile-email {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  
  .btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background: rgba(0, 0, 0, 0);
    color: #4e5155;
  }
  
  .btn-primary {
    background-color: var(--ucs-color);
  }
  
  label.btn {
    margin-bottom: 0;
  }
  
  .btn-outline-primary {
    border-color: var(--ucs-color);
    color: #fff;
    background-color: var(--ucs-color);
  }
  
  .btn-outline-primary:hover {
    border-color: var(--ucs-color);
    background: transparent;
    color: var(--ucs-color);
  }
  
  
  .btn {
    cursor: pointer;
    font-size: 15px;
  }
  
  .text-light {
    color: #babbbc !important;
  }
  
  .card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
    flex-grow: 1;
    width: 100%;
    height: auto;
  }
  
  .row-bordered {
    overflow: hidden;
    min-height: 100vh;
  }
  
  .account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  
  .account-settings-links .list-group-item.active {
    font-weight: bold !important;
  }
  
  html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: var(--ucs-color) !important;
  }
  
  .account-settings-multiselect ~ .select2-container {
    width: 100% !important;
  }
  
  .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  
  .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
  }
  
  .material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  
  .material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
  }
  
  .dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
  }
  
  .dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
  }
  
  .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
  }
  
  .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  
  .form-control {
    width: 100%;
    height: 5vh;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .account-settings-links button:focus {
    outline: none;
    background-color: var(--ucs-color);
    font-weight: bold;
  }
  
  /* card color */
  
  .swiper-wrapper .slide:nth-of-type(7) {
    background: rgb(155, 149, 241);
  }
  
  .swiper-wrapper .slide:nth-of-type(8) {
    background: rgb(241, 149, 149);
  } */

  .swiper-wrapper .slide {
    background: aliceblue; 
  }
  
  /* Popular */
  
  .popular .popular-slider .box {
    width: 15vw;
    flex-basis: 22%;
    margin-bottom: 2%;
    margin-right: 2%;
    position: relative;
    overflow: hidden;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 5px;
    flex: 1 1 23vw;
    gap: 2rem;
    justify-content: space-between;
  }
  
  .popular .popular-slider .box:hover {
    border: 0.1rem solid var(--ucs-color);
  }
  
  .popular .popular-slider .box .image {
    padding: 10px;
    background: rgb(200, 227, 238);
  }
  
  .popular .popular-slider .box:hover .image {
    transform: translateY(40px);
  }
  
  .popular .popular-slider .box .image img {
    height: 150px;
  }
  
  .popular .popular-slider .box .icons {
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
    background: rgb(166, 185, 190);
  }
  
  .popular .popular-slider .box:hover .icons {
    transform: translateY(0%);
  }
  
  .popular .popular-slider .box .icons a {
    color: var(--black);
    font-size: 22px;
    padding: 13px 15px;
  }
  
  .popular .popular-slider .box .icons a:hover {
    background: var(--ucs-color);
    color: #fff;
  }
  
  .popular .popular-slider .box .content {
    background: rgb(200, 227, 238);
    padding: 15px;
  }
  
  .popular .popular-slider .box .content h3 {
    width: 100%;
    height: 10px;
    font-size: 12px;
    color: var(--black);
  }
  
  .popular .popular-slider .box .content .by {
    font-size: 15px;
    color: var(--black);
    padding-top: 10px;
  }
  
  .popular .popular-slider .box .content .price span {
    font-size: 12px;
    color: var(--light-color);
  }
  